<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tron="http://tron.ricardo.com.br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item">
          			<a th:href="@{/}"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
        		</li>

        		<li class="aw-menu__item  is-active">
          			<a th:href="@{/index}">
            			<i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" sec:authorize="hasRole('ROLE_CONSULTAR_OS')" tron:menu="@{/os.*}" >
			            	<a href="#">Controle de Ordens de Serviços</a>
			            </li>			            
			            <li class="aw-menu__item  aw-menu__item--link"  sec:authorize="hasRole('ROLE_CONSULTAR_PRODUTO')" tron:menu="@{/produtos.*}">
			            	<a th:href="@{/produtos}">Controle de Produtos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link"  sec:authorize="hasRole('ROLE_CONSULTAR_FORNECEDOR')" tron:menu="@{/fornecedores.*}">
			            	<a th:href="@{/fornecedores}">Controle de Fornecedores</a>
			            </li>		    
			            <li class="aw-menu__item  aw-menu__item--link"  sec:authorize="hasRole('ROLE_CONSULTAR_CLIENTE')" tron:menu="@{/clientes.*}">
			            	<a href="#">Controle de Clientes </a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link"  sec:authorize="hasRole('ROLE_CONSULTAR_SERVICO')" tron:menu="@{/servicos.*}">
			            	<a href="#">Controle de Serviços</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link"   sec:authorize="hasRole('ROLE_CONSULTAR_FUNCIONARIO')" tron:menu="@{/funcionarios.*}">
			            	<a href="#">Controle de Funcionarios </a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link"  sec:authorize="hasRole('ROLE_CONSULTAR_USUARIO')" tron:menu="@{/usuarios.*}">
			            	<a th:href="@{/usuarios}">Controle de Usuarios</a>
			            </li>
          			</ul>
        		</li>

        		

      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>