<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:tron="http://tron.ricardo.com.br">
	
<head>
	<title>Cadastro de Produto</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1 th:if="${produto.novo}">Cadastro de Produto</h1>
					<h1 th:unless="${produto.novo}" th:text="|Edição do ${produto.nome}|">Edição de Produto</h1>
				</div>
			
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/produtos}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<th:block th:include="fragments/MensagemSucesso"></th:block>

		<form method="POST" th:object="${produto}" class="form-vertical  js-form-loading" 
		th:action="${produto.novo} ? @{/produtos/novo} : @{/produtos/{id}(id=${produto.id})}">
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
			
			<input type="hidden" th:field="*{id}"/>
	
			<div class="row">
				<div class="col-sm-2  form-group" tron:classforerror="codigo">
					<label for="codigo" class="control-label">Codigo</label>
					<input id="codigo" type="text" class="form-control" th:field="*{codigo}"/>
				</div>
				
				<div class="col-sm-10  form-group" tron:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
				</div>
			</div>
			
			<div class="form-group" tron:classforerror="descricao">
				<label for="descricao" class="control-label">Descrição</label>
				<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
			</div>
			
			
			<div class="row">
			
			
				<div class="col-sm-3  form-group" tron:classforerror="fornecedor">
					<label for="fornecedor" class="control-label">Fornecedor</label>
					<div class="bw-field-action">
						<select id="fornecedor" class="form-control" th:field="*{fornecedor}">
							<option value="">Selecione o fornecedor</option>
							<option th:each="fornecedor : ${fornecedores}" th:value="${fornecedor.id}" th:text="${fornecedor.nome}">Uvas</option>
						</select>
						</div>
				</div>
			
				<div class="col-sm-3  form-group" tron:classforerror="preco">
					<label for="preco" class="control-label">Preço de Custo</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="preco" type="text" class="form-control  js-decimal" th:field="*{preco}"/>
					</div>
				</div>
				
				<div class="col-sm-3  form-group" tron:classforerror="lucro">
					<label for="lucro" class="control-label">Lucro</label>
					<div class="input-group">
						<input id="lucro" type="text" class="form-control  js-decimal" th:field="*{lucro}"/>
						<div class="input-group-addon">%</div>
					</div>
				</div>
				
				<div class="col-sm-3  form-group">
					<label for="qntEstoque" class="control-label">Estoque</label>
					<input id="qntEstoque" type="text" class="form-control  js-plain" th:field="*{qntEstoque}"/>
				</div>
			</div>
						
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<button class="btn  btn-primary" type="reset">Limpar</button>
			</div>
	
		</form>
	</div>
	
</section>

<th:block layout:fragment="javascript-extra">
</th:block>
		
</body>
</html>